.format__item{
    display: flex;
    padding: 11px 15px;
    color: #F2F2F2;
}
.format__item:first-child{
    margin-top: 2px;
}

.format__item input {
    display: none;
}
.format__item label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}
.format__item label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 11px;
    background: url('/src/assets/images/format-input.svg') 0 0 no-repeat;
}

/* Checked */
.format__item input:checked + label:before {
    background: url('/src/assets/images/format-input-active.svg') 0 0 no-repeat;
}