.App{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.87);
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  height: 100%;

}
p{
  margin: 0;
}

